<%if @page.errors.any? %>
<ul>
<% @page.errors.full_messages.each do |msg| %>
<li style = "background:#ff8c8c"> <%= msg %> </li>
<% end %>
</ul>
<% end %>
<%= form_for @page do |f|%>
  <%= f.label :Title %>
  <%= f.text_field :title %> <br/><br/>
  <%= f.label :Description, style: "vertical-align: top" %>
  <%= f.text_area :description %> <br/>
  <%= f.submit %>
<% end %>