<h2 align="center"> <%= t :title %> <%= @page.title %> </h2>
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class="center description"><strong> <%= t :description %> </strong></h4>
	<hr>
	<%= simple_format(@page.description) %>
	<div class="page-actions">
		<%= link_to 'Edit', edit_page_path(@page), class: "btn btn-xs btn-primary" %>
		<%= link_to 'Delete', page_path(@page), method: :delete, data: {confirm: t(:confirm, scope: [:index])}, class: "btn btn-xs btn-danger" %>
		<%= link_to 'Index', pages_path, class: "btn btn-xs btn-success" %>
	</div>
</div>